@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* Reset some default styles for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
